{% load static %}
<form class="{{form_class}}" method="post" enctype="multipart/form-data">
  {% csrf_token %} {% if form.non_field_errors %}
  <div class="alert alert-danger p-3 mb-2" role="alert">
    {{ form.non_field_errors }}
  </div>
  {% endif %} {% for field in form %}
  <div class="mb-3 position-relative">
    <label for="{{ field.auto_id }}" class="form-label"
      >{{ field.label }}</label
    >

    {{ field }} {% if field.field.widget.icon %}
    <img
      src="{% static field.field.widget.icon %}"
      alt="{{ field.label }} icon"
      width="20"
      height="20"
      class="position-absolute field-icon"
    />
    {% endif %} {% for error in field.errors %}
    <div class="form-text text-danger">{{ error }}</div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block mt-4 px-5">
      {{form_button_text}}
    </button>
  </div>
</form>
