{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="التنقل بين الصفحات" dir="rtl">
  <ul class="pagination justify-content-center mt-5">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; الأولى</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
        السابق
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link">&laquo; الأولى</a>
    </li>

    <li class="page-item disabled">
      <a class="page-link">السابق</a>
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link">
        {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
      </a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        التالي
      </a>
    </li>

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
         الأخيرة&raquo;
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link">التالي</a>
    </li>

    <li class="page-item disabled">
      <a class="page-link"> الأخيرة&raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
