.hero-image {
  height: 480px;
  object-fit: cover;
}

.hero-btn {
  width: 38px;
  height: 38px;
  top: 50%;
  bottom: auto;
  margin: 0 var(--space-4);

  background: var(--primary);
  color: var(--bg-white);

  border-radius: var(--radius-full);
  opacity: 1;

  transform: translateY(-50%);
}

.hero-btn:hover {
  background: var(--primary);
  color: var(--bg-white);
}

@media (max-width: 768px) {
  .hero-image {
    height: 180px;
  }

  .hero-btn {
    width: 32px;
    height: 32px;
    margin: 0 var(--space-2);
  }
}