section {
    margin-top: 40px;
}

section .banner {
    border-radius: 24px;
}

@media screen and (max-width: 576px) {
section {
    margin-top: var(--space-4);
}

section .banner {
    border-radius: 8px;
}

}