{% extends 'dashboard.html' %} {% load static %} {% block admin_content %}

<div class="admin-orders-page  p-4">
  <div class="mb-4">
    <h2 class="mb-1 pe-1">إدارة الطلبات</h2>
    <p class="text-secondary mb-0">ابحث عن طلبات العملاء وأدرها</p>
  </div>

  <div class="mb-4">
    <div class="d-flex flex-wrap gap-2 mb-3 status-filter">
      {% for slug, label, count in status_filters %}
      <a
        href="?status={{ slug }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}"
        class="btn {% if current_status == slug %}active{% endif %}"
      >
        {{ label }} ({{ count }})
      </a>
      {% endfor %}
    </div>

    <form method="get" class="input-group  w-100">
      {% if request.GET.status %}
      <input type="hidden" name="status" value="{{ request.GET.status }}" />
      {% endif %}

      <input
        type="search"
        name="query"
        value="{{ request.GET.query }}"
        class="form-control admin-input"
        placeholder="ابحث عن طلبات..."
      />

      <button class="btn dashboard-btn px-4" type="submit">بحث</button>
    </form>
  </div>

  {% include "dashboard/orders/orders_table.html" with orders=orders %}

  <div class="mt-4">{% include 'partials/layout/paginator.html' %}</div>
</div>

{% endblock admin_content %}
