{% load static %}
<nav class="navbar navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand  fs-1" href="/"
      ><img src="{% static 'images/logo.svg' %}" alt="SOVX" class="img-fluid"
    /></a>
    <form method="get" class="d-flex" mgl-2>
      <input type="search" name="q" placeholder="دور علي اللي نفسك فيه" />
    </form>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js",
      );
      fbq("init", "914936884034267");
      fbq("track", "PageView");
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=914936884034267&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-md-3">
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <img
              src="{% static 'icons/cartlogo.svg' %}"
              alt="Cart"
              class="img-fluid"
            />
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item align-self-center">
          <div class="btn-group">
            <button
              class="btn btn-sm dropdown-toggle fs-6"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Hi, {{ user.first_name }}
            </button>
            <ul class="dropdown-menu">
              {% if user.is_staff %}
              <li>
                <a class="dropdown-item" href="{% url 'admin_dashboard' %}"
                  >Dashboard</a
                >
              </li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="{% url 'profile' %}"
                  >My Profile</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
              </li>
            </ul>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link fs-5 cormorant-garamond-semibold"
            href="{% url 'login' %}"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
