<section class="py-4 my-3">
    <h1 class="heading-1 font-regular mb-3">Section Title</h1>

    <div class="carousel-inner">
            {% if products|length > 0 %}
                <div class="carousel-item active">
                    <div class="row justify-content-center product-list">
                        {% for product in products|slice:"0:4" %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if products|length > 4 %}
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        {% for product in products|slice:"4:8" %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if products|length > 8 %}
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        {% for product in products|slice:"8:12" %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                            {% include "partials/components/product_card.html" with product=product %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

    </div>

    </div>
</section>