{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-2 py-md-4">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Shopping Cart</h2>
            {% if products %}
            <a href="{% url 'create_order' %}" style="height: fit-content" class="btn btn-primary ms-3">Proceed to Checkout</a>
            {% endif %}
        </div>
        <div class="row justify-content-center gap-1">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-3" style="width: 200px">
                <a href="{% url 'product' product.id %}">
                    <img src="{{ product.thumbnail }}" class="card-img-top" alt="{{ product.title }}">
                </a>
                <h5 class="text-center mt-3">{{ product.title }}</h5>
                <p class="text-center">Price: ${{ product.discounted_price }}</p>
                <button data-id="{{product.id}}" class="btn btn-outline-primary py-0 remove-from-cart" style="width: 100%">Remove</button>
            </div>
                
            {% empty %}
            <h3 class="text-center">No products in cart</h3>
            {% endfor %}
        </div>

    </div>
    <script>
        window.onload = function () {
            const Buttons = document.querySelectorAll('.remove-from-cart');

            Buttons.forEach(button => {
                button.addEventListener('click', (e) => {
                    const productId = e.target.dataset.id;
                    fetch(`/cart/remove/${productId}`).then(response => {if (response.status == 200) e.target.closest('div').remove()});
                });
            });
        }
    </script>
</div>
{% endblock content %}
