{% extends 'base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/components/form.css' %}" />
{% endblock header %} {% block content %}
<main>
  <div class="split-form-container d-flex">
    <div class="bg-secondary carousel slide position-relative">
      <div class="mb-4">
        <h2>عندك سؤال؟ يلا نتكلم!</h2>
        <p class="text-secondary pt-2">
          إحنا هنا علشان نساعدك. اتواصل معانا وحنرد عليك بالإجابات والدعم.
        </p>
      </div>
      <div class="mt-2">
        <img src="{% static 'images/sections/sell-with-us/map.png' %}" alt="Map" />
      </div>
    </div>
    <div>
      {% include "partials/components/form.html" with form_button_text="إرسال رسالتك" %}
    </div>
  </div>
</main>
{% endblock content %}
