{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/layout/admin-sidebar.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/dashboard.css' %}" />
{% endblock header %}

{% block content %}
    <div class="d-flex flex-column flex-md-row" style="min-height: 80vh">
        <!-- Sidebar -->
        <div class="py-3 text-primary admin-sidebar" style="width: 250px;">
            <ul class="nav flex-row flex-md-column border-end border-3 border-primary">
                <li class="nav-item pb-2">
                    <a class="nav-link ps-0 fw-bold {% if request.path == '/dashboard/' %}ps-3 active{% endif %}" href="{% url 'admin_dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link ps-0 fw-bold {% if request.path == '/dashboard/orders/' %}ps-3 active{% endif %}" href="{% url 'admin_orders' %}">Orders</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link ps-0 fw-bold {% if 'products' in request.path %}ps-3 active{% endif %}" href="{% url 'admin_products' %}">Products</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link ps-0 fw-bold {% if 'product-lists' in request.path %}ps-3 active{% endif %}" href="{% url 'admin_product_lists' %}">Product Lists</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link ps-0 fw-bold {% if 'sections' in request.path %}ps-3 active{% endif %}" href="{% url 'admin_sections' %}">Sections</a>
                </li>
                <li class="nav-item py-2">
                    <a class="nav-link ps-0 fw-bold {% if 'sell-with-us-cards' in request.path %}ps-3 active{% endif %}" href="{% url 'admin_sell_with_us_cards' %}">Sell With Us Cards</a>
                </li>
                <li class="nav-item pt-2">
                    <a class="nav-link ps-0 fw-bold {% if request.path == '/dashboard/settings/' %}ps-3 active{% endif %}" href="{% url 'admin_settings' %}">Site Settings</a>
                </li>
            </ul>
        </div>

        <!-- Page Content Placeholder -->
        <div class="flex-grow-1 p-2 p-md-4 pe-0">
            {% block admin_content %}
            {% endblock admin_content %}
        </div>
    </div>

{% endblock content %}