{% extends 'base.html' %} {% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/pages/product.css' %}" />
{% endblock header %}

{% block content %}
<div class="py-2 py-md-4">
  <div
    class="d-flex ps-0 gap-3 flex-column flex-md-row justify-content-between align-items-stretch my-4"
    style="max-width: 1200px"
  >
    <!-- Product Image Section -->
    <div
      class="product-page-image d-flex justify-content-center"
    >
      <div class="w-100 h-100">
        {% for product_image in product.images.all %}
        <div class="w-100 h-100 {% if forloop.first %}active{% endif %}">
          <div class="d-flex justify-content-center align-items-center w-100 h-100">
          <img
            src="{{ product_image.url }}"
            alt="Product Thumbnail"
            class="product-page-carousel-img img-fluid"
          /></div>
        </div>
        {% endfor %}
      </div>


    </div>

    <!-- Product Details Section -->
    <div
      class="product-page-details"
    >
      <h2>{{product.title}}</h2>
      <p class="text-muted">{{product.description}}</p>

      <!-- Rating Section -->
      <div class="product-page-rating">
        {% for x in ""|ljust:product.rating %} &#9733; {% endfor %}
        {% for x in ""|ljust:product.empty_stars %} &#9734; {% endfor %}
      </div>

      <!-- Price Section -->
      <div class="product-page-price my-3">
        EGP {% if product.discount %}
        <span
          class="product-page-price-old"
          >{{product.price}}</span
        >
        {% endif %}
        <span class="product-page-price-new ml-2"
          >{{product.discounted_price}}</span
        >
      </div>

      <!-- Stock and Brand -->
      <div class="my-3">
        {% if product.stock == 0 %}
        <span class="badge bg-danger fs-6 mb-2">Sold Out</span>
        {% else %}
        <span class="product-page-stock-available"
          >{{product.stock}} Items In Stock</span
        >
        {% endif %}
      </div>

      {% if in_cart %}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="operation" value="remove" />
        <button
          id="remove_cart_button"
          class="btn btn-primary btn-lg mt-auto"
          type="submit"
          style="width: 100%"
        >
          &#10003; Added to Cart
        </button>
      </form>
      <script>
        window.onload = function () {
          var btn = document.querySelector("button#remove_cart_button");

          btn.addEventListener("mouseover", function () {
            this.innerHTML = "Remove from Cart";
          });
          btn.addEventListener("mouseout", function () {
            this.innerHTML = "&#10003; Added to Cart";
          });
        };
      </script>
      {% else %}
      <!-- Add to Cart Button -->
      {% if product.stock == 0 %}
      <button
        class="btn btn-secondary btn-lg mt-auto"
        type="button"
        style="width: 100%"
        disabled
      >
        Sold Out
      </button>
      {% else %}
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="operation" value="add" />
        <button
          class="btn btn-primary btn-lg mt-auto"
          type="submit"
          style="width: 100%"
        >
          Add to Cart
        </button>
      </form>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
