{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header primary">
          <h4>Order Placed Successfully</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            Thank you for your order! Your order has been placed successfully
            and is currently pending confirmation.
            <br>
            Your order number is <strong>{{ order_id }}</strong>
          </p>
          <p class="card-text">
            You can track your order status from your
            <a href="{% url 'profile' %}" class="text-decoration-none"
              >Profile Page</a
            >.
          </p>
          <p class="card-text">
            We will contact you once your order is confirmed. Stay tuned!
          </p>
        </div>
        <div class="card-footer">
          <a href="{% url 'index' %}" class="btn btn-primary">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
