.carousel-control-next,
.carousel-control-prev {
  width: 50% !important;
}

.carousel-indicators button {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--primary) !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(130%) saturate(1000%) hue-rotate(200deg);
}
