<section class="py-4 my-3">
    <h1 class="heading-1 font-regular mb-3">{{ section.name }}</h1>

    {% if section.banner %}
        <img src="{{ section.banner.url }}" alt="{{ section.name }}" class="img-fluid mb-3" />
    {% endif %}

    {% if products %}
        <div class="row justify-content-center product-list">
            {% for product in products %}
                {% include "partials/components/product_card.html" with product=product %}
            {% endfor %}
        </div>
    {% endif %}
</section>
