:root {
    --primary: rgba(24, 34, 29, 1);
    --secondary: #ffffff;
    --bg-primary: #FFFFFF;
    --bg-primary-disabled: #9b867a;
}

/*
:root {

    --color-primary: #DF1C41;     
    --color-secondary: #D90E0E;   
    --bg-page: #FFFFFF; 
    --bg-card: rgba(254, 219, 220, 1);            
    --text-primary: rgba(24, 34, 29, 1);     
}
*/

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-medium {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.border-primary {
    border-color: var(--primary) !important;
}