body {
    min-height: 100vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

* {
    color: var(--primary) !important;
}

footer {
    background-color: var(--bg-primary);
    padding: 40px 0;
}

footer * {
    color: white !important;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .footer-logo {
    font-size: 24px;
    font-weight: bold;
}

footer .social-icons svg {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    fill: white;
}

img.hero-image {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.carousel-control-next, .carousel-control-prev {
    width: 50% !important;
}

.carousel-indicators button {
    width: 16px !important;
    height: 16px !important;
    background-color: var(--primary) !important;
}

.carousel-inner {
    max-height: 388px;
    overflow-y: auto;
}

.btn-primary {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    color: white !important;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: var(--bg-primary);
    color: var(--primary) !important;
}

.btn-outline-primary:hover {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
    color: white !important;
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.admin-sidebar .nav-link.active {
    background-color: var(--primary);
    color: white !important;
    border-radius: 12px 0 0 12px;
}