body {
  min-height: 100vh;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
}

* {
  color: var(--primary) !important;
}

footer {
  background-color: var(--bg-primary);
  padding: 24px 0;
}

footer * {
  color: white !important;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-logo {
  font-size: 24px;
  font-weight: bold;
}

footer .social-icons svg {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  fill: white;
}

img.hero-image {
  max-height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-control-next,
.carousel-control-prev {
  width: 50% !important;
}

.carousel-indicators button {
  width: 16px !important;
  height: 16px !important;
  background-color: var(--primary) !important;
}

#OrderFormCarousel .carousel-indicators {
  overflow-x: hidden;
}

#OrderFormCarousel .carousel-indicators button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: max(6vw, 60px) !important;
  height: max(6vw, 60px) !important;
  margin: 0 !important;
}

#OrderFormCarousel .carousel-indicators .progress {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  z-index: -100;
  position: absolute;
  opacity: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#OrderFormCarousel .carousel-indicators button.active,
#OrderFormCarousel .carousel-indicators button:first-of-type,
#OrderFormCarousel .carousel-indicators button:has(+ button.active) {
  opacity: 100% !important;
}

#OrderFormCarousel .carousel-indicators button:not(:first-of-type).active path,
#OrderFormCarousel
  .carousel-indicators
  button:not(:first-of-type):has(+ button.active)
  path {
  fill: white;
}

#OrderFormCarousel .carousel-indicators button:first-of-type::before,
#OrderFormCarousel .carousel-indicators button.active::before,
#OrderFormCarousel .carousel-indicators button:has(+ button.active)::before {
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--primary);
  z-index: -100;
  position: absolute;
}

.carousel-inner {
  max-height: 388px;
  overflow-y: auto;
}

.btn-primary {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
  color: white !important;
}

.btn-primary:disabled {
  opacity: 0.65;
  background-color: var(--bg-primary-disabled) !important;
  border-color: var(--bg-primary-disabled) !important;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: var(--bg-primary);
  color: var(--primary) !important;
}

.btn-outline-primary:hover {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.admin-sidebar .nav-link.active {
  background-color: var(--primary);
  color: white !important;
  border-radius: 12px 0 0 12px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
@media screen and (max-width: 768px) {
  .admin-sidebar {
    width: 100% !important;
  }

  .admin-sidebar ul {
    align-items: baseline;
    width: 100% !important;
    border-width: 0 !important;
  }

  .admin-sidebar .nav-link.active {
    border-radius: 12px;
  }
}

form.site-settings {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form.site-settings > div:nth-of-type(1-2) {
  min-width: 45%;
}

form.site-settings > div:not:nth-of-type(3-) {
  min-width: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(130%) saturate(1000%) hue-rotate(200deg);
}

@media screen and (max-width: 600px) {
  .product-details {
    align-items: center;
  }

  .product-details form button {
    padding-inline: 24px;
  }

  .shopping-cart-nav,
  .payment-info-nav {
    flex-direction: column;
  }

  .shopping-cart-nav .btn {
    margin-inline-start: 0 !important;
  }

  .product {
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--bg-primary);
  }

  .product > div:first-child {
    width: 100% !important;
  }
}



.announcement-bar-icons {
  display: inline-block;
  margin-inline-start: 4px;
  font-size: 13px;
}

