{% extends 'base.html' %}
{% block content %}

    <div class="container my-5">
        <form class="user-form w-50 mx-auto" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <!-- Submit button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 w-50">Send</button>
            </div>

        </form>
        <script>
            window.onload = () => {
                document.querySelectorAll("form.user-form input").forEach(elem => {
                    elem.classList.add("form-control")
                })
            }
        </script>
    </div>

{% endblock %}