{% extends 'base.html' %}
    
    {% block content %}
    <div class="global-container">
        <div class="card my-5 login-form bg-transparent border-0">
        <div class="card-body">
            <h3 class="card-title text-center mb-5">{{ title }}l</h3>
            <div class="card-text text-center">
                {{ message }}
                <div class="d-flex justify-content-center my-5">
                    <a class="btn btn-primary w-25" href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    {%endblock%}