{% extends 'dashboard.html' %} {% load static %} 
{% block admin_content %}
<!-- Page Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Manage Orders</h2>
</div>

<!-- Search Bar -->
<form method="get" class="input-group mb-3 gap-3">
  <input
    type="text"
    name="query"
    class="form-control"
    placeholder="Search products..."
  />
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </div>
</form>

{% if pending_orders %}
<h3 class="my-4">Pending Orders</h3>
{% include "dashboard/orders/orders_table.html" with orders=pending_orders %}
{% endif %}

{% if confirmed_orders %}
<h3 class="my-4">Confirmed Orders</h3>
{% include "dashboard/orders/orders_table.html" with orders=confirmed_orders %}
{% endif %}

{% if in_delivery_orders %}
<h3 class="my-4">In Delivery Orders</h3>
{% include "dashboard/orders/orders_table.html" with orders=in_delivery_orders %}
{% endif %}

{% endblock admin_content %}
