{% extends 'dashboard.html' %}
{% load static %}

{% block admin_content %}
    {% include "partials/components/form.html" with form_title="Add New Category" form_class="category-form" form_button_text="Create" %}

    {% if object %}
        <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Update Discounts</h5>
            <p class="card-text">
            Set a new discount for all products in this category.
            </p>
            <form method="post" action="{% url 'category_discount' pk=object.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="discount" class="form-label">Discount Percentage</label>
                <input
                type="number"
                class="form-control"
                id="discount"
                name="discount"
                min="0"
                max="100"
                required
                />
            </div>
            <button type="submit" class="btn btn-primary">Apply Discount</button>
            </form>
        </div>
        </div>
    {% endif %}
{% endblock admin_content %}