{% extends 'dashboard.html' %}
{% load static %}

{% block admin_content %}
    <!-- Page Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Manage Categories</h2>
        <a class="btn btn-primary" href="{% url 'add_categories' %}">Create New</a>
    </div>

    <!-- Search Bar -->
    <form method="get" class="input-group mb-3 gap-3" >
        <input type="text" name="query" class="form-control" placeholder="{{ query }}">
        <div class="input-group-append">
            {% if query != "Search categories..." %}
                <button class="btn btn-outline-primary" type="submit">Clear</button>
            {% else %}
                <button class="btn btn-outline-primary" type="submit">Search</button>
            {% endif %}
        </div>
    </form>

    <!-- Categories Table -->
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Product Count</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.products.count }}</td>
                <td>
                    {% if category.products.count == 0 %}
                    <a 
                    href="{% url 'delete_category' category.id %}" 
                    class="btn btn-sm btn-outline-danger" 
                    > 
                        Delete
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center">No categories found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    {% include 'partials/layout/paginator.html' %}


{% endblock admin_content %}