body {
  min-height: 100vh;
  background-color: var(--bg-white);
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1224px;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1248px !important;
  }
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-weak {
  background-color: var(--bg-weak) !important;
}

.text-gray {
  color: var(--text-gray) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.text-dark {
  color: var(--text-dark) !important;
}