{% extends 'base_site_pages.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/components/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/contact-us.css' %}" />
{% endblock header %} {% block pages_content %}
<main>
  <div class="split-form-container d-flex">
    <div class="bg-secondary carousel slide position-relative">
      <div class="mb-4">
        <h2>عندك سؤال؟ يلا نتكلم!</h2>
        <p class="text-secondary pt-2">
          إحنا هنا علشان نساعدك. اتواصل معانا وهنرد عليك بالإجابات والدعم.
        </p>
      </div>
      <div class="mt-2 position-relative contact-container">
        <img
          src="{% static 'images/sections/contact-us/map.png' %}"
          alt="خريطة موقعنا"
          class="img-fluid w-100 rounded-4"
        />

        <a
          href="{{ site_settings.location_url }}"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-card text-decoration-none pe-auto"
        >
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/location.svg' %}"
              alt=""
            />
          </div>

          <div class="contact-content">
            <span class="contact-label">الموقع</span>

            <p class="contact-text">{{ site_settings.location_text }}</p>
          </div>

          <div class="contant-links">
            <img
              src="{% static 'images/sections/contact-us/direction.svg' %}"
              alt="الاتجاهات"
            />
          </div>
        </a>
      </div>
      <div class="contact-group">
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/time.svg' %}"
              alt=""
            />
          </div>
          <div class="contact-content">
            <span class="contact-label">ساعات العمل</span>

            <p class="contact-text">
              {{ site_settings.workdays }} |
              <span class="contact-time">{{ site_settings.workhours }}</span>
            </p>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/vacation.svg' %}"
              alt=""
            />
          </div>
          <div class="contact-content">
            <span class="contact-label"> العطلات</span>

            <ul class="contact-holidays">
              <li class="contact-text">
                عيد الفطر: 1 شوال
                <span class="text-secondary">
                  (يختلف · بناءً على رؤية الهلال)
                </span>
              </li>

              <li class="contact-text">
                عيد الأضحى: 10 ذو الحجة
                <span class="text-secondary">
                  (يختلف · بناءً على رؤية الهلال)
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contact-group">
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/phone.svg' %}"
              alt=""
            />
          </div>
          <div class="contact-content">
            <span class="contact-label">رقم الهاتف</span>

            <p class="contact-text">{{site_settings.phone_number}}+</p>
          </div>
          <div class="contant-links">
            <a
              href="https://wa.me/{{site_settings.whatsapp_number}}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{% static 'images/sections/contact-us/whatsapp.svg' %}"
                alt="واتساب"
              />
            </a>

            <a href="tel:{{site_settings.phone_number}}">
              <img
                src="{% static 'images/sections/contact-us/call.svg' %}"
                alt="اتصال"
              />
            </a>
          </div>
        </div>

        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/mail.svg' %}"
              alt=""
            />
          </div>

          <div class="contact-content">
            <span class="contact-label">البريد الإلكتروني</span>

            <p class="contact-text">{{site_settings.email}}</p>
          </div>
          <div class="contant-links">
            <a href="mailto:{{site_settings.email}}">
              <img
                src="{% static 'images/sections/contact-us/send.svg' %}"
                alt="إرسال بريد"
              />
            </a>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/cursor.svg' %}"
              alt=""
            />
          </div>

          <div class="contact-content">
            <span class="contact-label">تابعنا</span>

            <p class="contact-text">أحدث العروض والخصومات</p>
          </div>
          <div class="contant-links">
            <a href="{{site_settings.facebook_link}}" target="_blank" rel="noopener noreferrer">
              <img
                src="{% static 'images/sections/contact-us/facebook.svg' %}"
                alt="Facebook"
              />
            </a>

            <a href="{{site_settings.instgram_link}}" target="_blank" rel="noopener noreferrer">
              <img
                src="{% static 'images/sections/contact-us/instagram.svg' %}"
                alt="Instagram"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      {% include "partials/components/form.html" with form_button_text="إرسال رسالتك" %}
    </div>
  </div>
</main>
{% endblock pages_content %}
