{% extends 'base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/components/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/contact-us.css' %}" />
{% endblock header %} {% block content %}
<main>
  <div class="split-form-container d-flex">
    <div class="bg-secondary carousel slide position-relative">
      <div class="mb-4">
        <h2>عندك سؤال؟ يلا نتكلم!</h2>
        <p class="text-secondary pt-2">
          إحنا هنا علشان نساعدك. اتواصل معانا وهنرد عليك بالإجابات والدعم.
        </p>
      </div>
      <div class="mt-2 position-relative contact-container">
        <img
          src="{% static 'images/sections/contact-us/map.png' %}"
          alt="خريطة موقعنا"
          class="img-fluid w-100 rounded-4"
        />

        <a
          href="https://www.google.com/maps/search/?api=1&query=New+Damietta,+Egypt"
          target="_blank"
          rel="noopener noreferrer"
          class="contact-card text-decoration-none pe-auto"
        >
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/location.png' %}"
              alt=""
            />
          </div>

          <div class="contact-content">
            <span class="contact-label">الموقع</span>

            <p class="contact-text">دمياط الجديدة، محافظة دمياط، مصر</p>
          </div>

          <div class="contant-links">
            <img
              src="{% static 'images/sections/contact-us/direction.png' %}"
              alt="الاتجاهات"
            />
          </div>
        </a>
      </div>
      <div class="contact-group">
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/time.png' %}"
              alt=""
            />
          </div>
          <div class="contact-content">
            <span class="contact-label">ساعات العمل</span>

            <p class="contact-text">
              الأحد - الخميس | 9:00 صباحًا - 5:00 مساءً
            </p>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/vacation.png' %}"
              alt=""
            />
          </div>
          <div class="contact-content">
            <span class="contact-label"> العطلات</span>

            <ul class="contact-holidays">
              <li class="contact-text">
                عيد الفطر: 1 شوال
                <span class="text-secondary">
                  (يختلف · بناءً على رؤية الهلال)
                </span>
              </li>

              <li class="contact-text">
                عيد الأضحى: 10 ذو الحجة
                <span class="text-secondary">
                  (يختلف · بناءً على رؤية الهلال)
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contact-group">
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/phone.png' %}"
              alt=""
            />
          </div>
          <div class="contact-content">
            <span class="contact-label">رقم الهاتف</span>

            <p class="contact-text">015 50204045</p>
          </div>
          <div class="contant-links">
            <a href="tel:01550204045">
              <img
                src="{% static 'images/sections/contact-us/call.png' %}"
                alt="اتصال"
              />
            </a>

            <a
              href="https://wa.me/201550204045"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{% static 'images/sections/contact-us/whatsapp.png' %}"
                alt="واتساب"
              />
            </a>
          </div>
        </div>

        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/mail.png' %}"
              alt=""
            />
          </div>

          <div class="contact-content">
            <span class="contact-label">البريد الإلكتروني</span>

            <p class="contact-text">info@altamayuzacademy.com</p>
          </div>
          <div class="contant-links">
            <a href="mailto:info@altamayuzacademy.com">
              <img
                src="{% static 'images/sections/contact-us/send.png' %}"
                alt="إرسال بريد"
              />
            </a>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-icon">
            <img
              src="{% static 'images/sections/contact-us/cursor.png' %}"
              alt=""
            />
          </div>

          <div class="contact-content">
            <span class="contact-label">تابعنا</span>

            <p class="contact-text">أحدث العروض والخصومات</p>
          </div>
          <div class="contant-links">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img
                src="{% static 'images/sections/contact-us/facebook.png' %}"
                alt="Facebook"
              />
            </a>

            <a href="#" target="_blank" rel="noopener noreferrer">
              <img
                src="{% static 'images/sections/contact-us/instagram.png' %}"
                alt="Instagram"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      {% include "partials/components/form.html" with form_button_text="إرسال رسالتك" %}
    </div>
  </div>
</main>
{% endblock content %}
