{% extends 'base.html' %} {% load static %} {% block header %}
<link rel="stylesheet" href="{% static 'css/layout/admin-sidebar.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/dashboard.css' %}" />
{% endblock header %} {% block content %}
<main class="flex-grow-1">
  <div class="d-flex flex-column flex-md-row admin-layout" dir="ltr">
    <div class="admin-sidebar d-flex flex-column">
      <div class="admin-sidebar-header d-flex align-items-center">
        <div
          class="admin-logo d-flex align-items-center justify-content-center"
        >
          <span>S</span>
        </div>

        <div>
          <h3 class="admin-brand-name">SOVX</h3>
          <p class="admin-brand-subtitle">ADMIN PANEL</p>
        </div>
      </div>

      <nav class="admin-sidebar-nav flex-grow-1">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}"
              href="{% url 'admin_dashboard' %}"
            >
              <span>Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if request.path == '/dashboard/orders/' %}active{% endif %}"
              href="{% url 'admin_orders' %}"
            >
              <span>Orders</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if 'products' in request.path %}active{% endif %}"
              href="{% url 'admin_products' %}"
            >
              <span>Products</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if 'product-lists' in request.path %}active{% endif %}"
              href="{% url 'admin_product_lists' %}"
            >
              <span>Product Lists</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if 'sections' in request.path %}active{% endif %}"
              href="{% url 'admin_sections' %}"
            >
              <span>Sections</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if 'sell-with-us-cards' in request.path %}active{% endif %}"
              href="{% url 'admin_sell_with_us_cards' %}"
            >
              <span>Sell With Us</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if 'shipping-fees' in request.path %}active{% endif %}"
              href="{% url 'admin_shipping_fees' %}"
            >
              <span>Shipping Fees</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link {% if request.path == '/dashboard/settings/' %}active{% endif %}"
              href="{% url 'admin_settings' %}"
            >
              <span>Site Settings</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="flex-grow-1 ">
      {% block admin_content %} {% endblock admin_content %}
    </div>
  </div>
</main>
{% endblock content %}
