{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/components/product-card.css' %}" />
{% endblock header %}

{% block content %}
<main class="flex-grow-1 mx-auto">
    {% if search_message %}
    <h4 class="text-center my-5 text-muted fw-normal">{{ search_message }}</h4>
{% endif %}
    <div class="container py-2">
        {% include "partials/sections/product_list.html" with products=products %}
    </div>
</main>
{% endblock content %}
