{% extends 'dashboard.html' %} {% load static %}
{% block admin_content %}
<!-- Page Header -->
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Manage Sections</h2>
  <a class="btn btn-primary" href="{% url 'add_section' %}">Create New</a>
</div>

<!-- Sections Table -->
<div class="overflow-x-scroll">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Order</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for section in sections %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ section.name }}</td>
      <td>{{ section.get_type_display }}</td>
      <td>{{ section.order }}</td>
      <td>
        <a
          href="{% url 'edit_section' section.id %}"
          class="btn btn-sm btn-outline-primary">
          Edit
        </a>
        <a
          href="{% url 'delete_section' section.id %}"
          class="btn btn-sm btn-outline-danger">
          Delete
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No sections found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock admin_content %}
